html,body {
height: 100%;
background: url(/static/qctf/img/pda_bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: "Arial Narrow", Arial, sans-serif;
}

.tab-content>.active>a {
	color: #17BF1C;
	text-decoration: underline;
}

.tab-content>.active>a:hover {
	color: #17BF1C;;
}


.container {
	max-width: 2500px !important;
}

#pda-login {
	width: 40vw;
	border-style: solid;
	/*border-width: 80px 144px 83px 100px;*/
	-moz-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	-webkit-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	-o-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	border-image: url(../img/pda_border_new.png) 80 144 83 100 fill stretch;
}

#pda {
	height: 90vh;
	width: 90vw;
	border-style: solid;
	border-width: 80px 144px 83px 100px;
	-moz-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	-webkit-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	-o-border-image: url(../img/pda_border_new.png) 80 144 83 100 stretch;
	border-image: url(../img/pda_border_new.png) 80 144 83 100 fill stretch;
}

#pills-tab {
	position: absolute;
	bottom: 0.5%;
	right: 0;
	width: 100%
}

#pills-tabContent
{
	outline: 1px solid gray;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
	color: #CFA846;
	background-color: transparent;
}

.list-group-item.active {
	background-color: transparent;
	border-color: transparent;
}

.list-group-item:first-child {
	border-radius: 0;
}

/*Navbar & Nav's*/

.navbar {
	height: 40px;
}

.navbar-brand {
	padding-top: 0;
}

.nav-link {
	color: #6c757d;
}

.nav-link:hover {
	color: #6c757d;
}

.green {
	color: #17BF1C;
}

.stalk-light
{
  color: #3B3D4A;
}


/*Overflow*/

#overflow {
	overflow-y: scroll;
		height: 70%;
}

#overflow::-webkit-scrollbar {
	width: 1.2em;
}

#overflow:::-webkit-scrollbar-button {
	background-size: 100%;
	background: #3b3d4a;
	height: 10px;
	width: 10px;
}

#overflow::-webkit-scrollbar-track {
	background-color: #202226;
}

#overflow::-webkit-scrollbar-thumb {
background-color: #3B3D4A;
outline: 1px solid slategrey;
}

/*Image*/

.img-task {
	width: 100%;
	/*border: 1px solid gray;*/
}

.img-icon {
	width: 48px;
	border: 1px solid gray;
}

/*Forms*/
.form-stalk {
	border: 1px solid #3B3D4A;
	border-radius: 0;
}

/*Bootstrap helper class*/

.h-90 {
	height: 90%;
}

.py-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*Btns*/

.btn {
	color: #fff;
	border-radius: 0;
}

.btn:hover {
	background-color: #4F5161;
}

.btn:focus, .btn.focus
{
	box-shadow: none;
}

.btn:active
{
	box-shadow: none;
}

.btn-stalk
{
	background-color: #3B3D4A;
	border: 1px solid #3B3D4A;
}

/*Colors*/
/*Bg Colors*/

.bg-trans {
	background-color: transparent;
}

.bg-stalk-light {
	background-color: #3B3D4A;
}

.bg-stalk-dark {
	background-color: #131416;
}

.list-group-item {
	background-color: transparent;
}

.list-group-item:hover {
	color: #fff;
	background-color: transparent;
}

/*Feather Icons*/

.feather {
width: 14px;
height: 14px;
/*  stroke: currentColor;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
fill: none;*/
}

.navbar-s {
	border-top: 10px solid #131416 !important; 
}

.corner {
	display: block;
}

/*Alerts*/

.help-block {
	border-radius: 0;
}

/*Inputs*/

.form-control:focus {
	color: #fff;
	background-color: #131416;
	border-color: #17BF1C;
	box-shadow: none;
}

a {
	color: #17BF1C;
}

a:hover {
	color: #17BF1C;
}

.list-group-item.completed
{
  color: #3B3D4A;
  background-color: #202226;
}

.list-group-item.completed:hover
{
  color: #fff;
  background-color: #202226;
}

.list-group-item.completed:focus
{
  color: #fff;
  background-color: #202226;
}