{% load bootstrap %}

{% load staticfiles %}

{% load contest %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="{% static 'qctf/css/style.css' %}" rel="stylesheet">
    <title>QCTF Login - Вход в систему</title>

    <script src="{% static 'qctf/js/jquery-3.3.1.min.js' %}"></script>    
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <div class="jumbotron" id="pda-login">

            <form class="px-5">
              <h1 class="text-white text-center">QCTF STALKER</h1>
              <br>
              {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
              {% endfor %}
              <br>
              {% csrf_token %}
                <fieldset>
                    {{ form|bootstrap }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-stalk text-white">И в дамки</button>
                    </div>
                </fieldset>
              <br>
            </form>

          </div>
          <nav class="navbar fixed-bottom navbar-light bg-trans pb-5">
              <p class="text-muted text-center w-100">Все события и герои вымышлены. Любые совпадения с реальными личностями случайны.<br>Проверяющая система Drapo разработана <a href="#">Андреем Гейном</a>. Соревнование QCTF Starter 2018 подготовлено командами<br>Destructive Voice, VoidHack и Хакердом из УрФУ, и левым чуваком, который даже не фронтэндер.</p>
          </nav>
        </div>
      </div>

    <script src="{% static 'qctf/js/jquery.floatThead.min.js' %}"></script>
    <script src="{% static 'qctf/js/popper.min.js' %}"></script>
    <script src="{% static 'qctf/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'qctf/js/holder.min.js' %}"></script>
    <script src="{% static 'qctf/js/ui.js' %}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          }
      });
    </script>
  </body>
</html>