{% load bootstrap %}
{% load staticfiles %}
{% load contest %}
{% load dict_filters %}
{% load markdown_deux_tags %}

<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'qctf/js/jquery-3.3.1.min.js' %}"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'qctf/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!-- CSS -->
    <link href="{% static 'qctf/css/style.css' %}" rel="stylesheet">
    
    <title>QCTF PDA</title>
  </head>
  <body>

  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="container" id="pda">
          <div class="row h-100" id="pda-row">
            <div class="col-12 mt-3 mb-1">

              <ul class="nav nav-fill nav-pills pl-3 pr-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active font-weight-bold" id="pills-task-tab" data-toggle="pill" href="#pills-task" role="tab" aria-controls="pills-task" aria-selected="true"><i class="mr-1" data-feather="file-text"></i>Задачи</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"  onclick="scoreboard()"><i class="mr-1" data-feather="file-text"></i>Ранги</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" id="pills-journal-tab" data-toggle="pill" href="#pills-journal" role="tab" aria-controls="pills-journal" aria-selected="false" onclick="notifications()"><i class="mr-1" data-feather="file-text"></i>Журнал</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" id="pills-help-tab" data-toggle="pill" href="#pills-help" role="tab" aria-controls="pills-help" aria-selected="false"><i class="mr-1" data-feather="file-text"></i>Правила</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-weight-bold" href="#" onclick="$('#logout-form').submit(); return false">Выйти</a>
                </li>
                <li class="nav-item">
                  <form id="logout-form" method="POST" action="{% url 'users:logout' %}">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                  <a class="nav-link disabled font-weight-bold text-white" href="#">300 RU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled font-weight-bold text-white" href="#">Таймер: --:--:--</a>
                </li>
              </ul>

              <div class="tab-content h-90" id="pills-tabContent">
                <div class="tab-pane h-100 fade show active corner" id="pills-task" role="tabpanel" aria-labelledby="pills-task-tab">
                  <div class="row h-100 no-gutters">
                    <div class="col-5 h-100 bg-stalk-dark br-r-15" id="overflow">

                      <nav class="navbar navbar-dark bg-stalk-light navbar-s sticky-top navbar-light corner mx-3 py-0">
                        <a class="navbar-brand font-weight-bold" href="#">Задачи</a>
                      </nav>
                      
                      <div class="list-group" id="list-tab" role="tablist">

                      {% if tasks_visible %}
                      {% for row in layout %}
                      {% for task_name, img_src in row %}
                      {% with task=task_by_name|item:task_name %}
                      {% if task.id in statements and task.id in opened_tasks_ids %}
                        <a class="list-group-item list-group-item-action{% if task.id in solved_tasks_ids %} completed{% endif %}" id="list-{{ task.id }}-list" data-toggle="list" href="#{{ task.id }}" role="tab" aria-controls="settings">
                          <div class="media">
                            <img class="img-icon mr-3" src="{% if img_src %}{{ img_src }}{% else %}{% static 'qctf/img/icons/documents.png' %}{% endif %}" alt="PH">
                            <div class="media-body">
                              {% with stmt=statements|item:task.id %}                
                              <h5 class="mt-0 font-weight-bold">{{ stmt.title }}</h5>
                              {% endwith %}
                              <p><i class="mr-1 {% if task.id in solved_tasks_ids %}stalk-light{% else %}green{% endif %}" data-feather="circle"></i>{{ category_by_task_name|item:task.name }} : {{ task.max_score }}</p>
                            </div>
                          </div>
                        </a>
                      {% endif %}
                      {% endwith %}
                      {% endfor %}
                      {% endfor %}
                  
                      {% else %}
                      <a class="list-group-item list-group-item-action" id="list-notstartrd-list" data-toggle="list" href="#list-notstarted" role="tab" aria-controls="settings">
                        <div class="media">
                          <img class="img-icon mr-3" src="{% static 'qctf/img/icons/documents.png' %}" alt="PH">
                          <div class="media-body">
                            <h5 class="mt-0 font-weight-bold">Соревнование ещё не началось</h5>
                            <p><i class="mr-1 green" data-feather="circle"></i>Обновите страницу позже</p>
                          </div>
                        </div>
                      </a>
                      {% endif %}


                      </div> 
                    </div>
                    <div class="col-7 h-100 bg-stalk-dark" id="overflow">

                      <nav class="navbar navbar-dark navbar-s bg-stalk-light sticky-top navbar-light mb-3 mx-3 corner py-0">
                        <a class="navbar-brand font-weight-bold" href="#">Описание</a>
                      </nav>

                      <div class="tab-content" id="nav-tabContent">

                      {% if tasks_visible %}
                      {% for row in layout %}
                      {% for task_name, img_src in row %}
                      {% with task=task_by_name|item:task_name %}
                      {% if task.id in statements and task.id in opened_tasks_ids %}
                      {% with stmt=statements|item:task.id %}  
                      <div class="tab-pane fade px-3 task-description" id="{{ task.id }}" role="tabpanel" aria-labelledby="list-{{ task.id }}-list">
                              

                        <h4 class="text-white">{{ stmt.title }}</h4>
                        <p class="text-muted">{{ category_by_task_name|item:task.name }} : {{ task.max_score }}</p>
                        <div class="text-white">{{ stmt.statement|markdown }}</div>

                        <div class="submit-flag-div">
                            <div class="input-group mt-3 mb-3">
                            {% if task.id in solved_tasks_ids %}
                            <p class="text-white">Уже решено!</p>
                            {% else %}
                            <input type="text" class="form-control form-stalk bg-stalk-dark" name="answer" placeholder="Введите сообщение..." aria-label="Введите сообщение..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-secondary btn-stalk font-weight-bold btn-corner" type="submit">Отправить</button>
                            </div>
                            {% endif %}                    
                          </div>
                        </div>
                      </div>
                      {% endwith %}
                      {% endif %}
                      {% endwith %}
                      {% endfor %}
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
                
                <!-- Ranks Tab -->
                <div class="tab-pane fade h-100" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="row h-100 no-gutters">
                    <div class="col-12 h-100 bg-stalk-dark" id="overflow">
                      
                      <nav class="navbar navbar-dark navbar-s bg-stalk-light sticky-top navbar-light mx-3 mb-3 corner py-0">
                        <a class="navbar-brand font-weight-bold" href="#">Ранги</a>
                      </nav>

                      <table class="table table-striped table-bordered table-hover table-dark">
                        <thead>
                        <!-- Headers -->
                          <tr>
                            <th scope="col"> </th>
                            {% for category, tasks in categories %}
                            <th colspan="{{ tasks|length }}" class="text-center" scope="col">{{ category }}</th>
                            {% endfor %}
                            <th class="text-right" scope="col"> </th>                            
                          </tr>
                        </thead>
                        <tbody class="scoreboard-table">
                        <!-- Secondary pseudo-headers -->
                          <tr class="scoreboard-teams">
                            <!-- Team Name -->
                            <th scope="row">Команды</th>
                            <!-- Tasks -->
                            {% for category, tasks in categories %}
                            {% for task_name in tasks %}
                            {% with task=task_by_name|item:task_name %}
                            <td class="text-center text-muted">
                              <i data-feather="dollar-sign"></i>{{ task.max_score }}<br><i class="mr-1" data-feather="users"></i>{{ task_solved_by|item:task.id|length }}
                            </td>
                            {% endwith %}
                            {% endfor %}
                            {% endfor %}
                            <!-- end -->
                            <td class="text-right font-weight-bold">Баллы</td>
                          </tr>
                        </tbody>
                      </table>                     
                </div>
              </div>
            </div>
                
                <!-- Journal Tab -->
                <div class="tab-pane fade h-100" id="pills-journal" role="tabpanel" aria-labelledby="pills-journal-tab">
                  <div class="row h-100 no-gutters">
                    <div class="col-12 h-100 bg-stalk-dark" id="overflow">
                      <nav class="navbar navbar-dark bg-stalk-light navbar-s sticky-top navbar-light corner mx-3 mb-3 py-0">
                        <a class="navbar-brand font-weight-bold" href="#">Журнал</a>
                      </nav>

                      <ul class="ul_journal"></ul>

                    </div>
                  </div>
                </div>
                
                <!-- Help Tab -->
                <div class="tab-pane fade h-100" id="pills-help" role="tabpanel" aria-labelledby="pills-help-tab">
                  <div class="row h-100 no-gutters">
                    <div class="col-12 h-100 bg-stalk-dark" id="overflow">
                      <nav class="navbar navbar-dark bg-stalk-light navbar-s sticky-top navbar-light corner mx-3 mb-3 py-0">
                        <a class="navbar-brand font-weight-bold" href="#">Справка</a>
                      </nav>
                        
                      <ul class="list-group">
                        <li class="list-group-item text-white">
                            Соревнования командные. К участию допускаются команды, состоящие не более чем из 4
                            человек. Состав команды нельзя менять после начала игры.
                        </li>
                        <li class="list-group-item text-white">
                            Командам будет предложено решить задания. Ответом является строка, начинающаяся с символов
                            <code>QCTF</code> (она называется флаг). Флаг нужно отправить в проверяющую систему в окне,
                            соответствующем решаемому заданию. Никакие другие строки не могут являться правильным ответом.
                        </li>
                        <li class="list-group-item text-white">
                            Количество попыток сдачи флага не ограничено. За успешное решение задания команда получает
                            баллы, количество которых зависит от сложности задания. Цель команды — набрать как можно больше баллов.
                        </li>
                        <li class="list-group-item text-white">
                            Во время соревнования командам запрещено общаться друг с другом и передавать друг другу флаги, полученные
                            в результате решения заданий. В случае установления факта общения или передачи флага от одной команды к
                            другой обе команды будут дисквалифицированы без предупреждения.
                        </li>
                        <li class="list-group-item text-white">
                            Команды могут приносить и использовать любое количество ноутбуков и другого компьютерного
                            оборудования (включая компьютеры, мониторы, сетевые устройства).
                        </li>
                        <li class="list-group-item text-white">
                            Соревнование длится ровно 8 часов. Время начала соревнования может различаться на разных площадках.
                        </li>
                        <li class="list-group-item text-white">
                            Задания размещаются на специальном сервере заданий. Командам перед началом игры будут выданы данные для
                            доступа к нему.
                        </li>
                        <li class="list-group-item text-white">
                            Для сторонних наблюдателей доступен публичный монитор, на котором они смогут следить за
                            прогрессом команд. Ссылка на монитор будет опубликована на данном сайте после начала игры.
                        </li>
                        <li class="list-group-item text-white">
                            Во время соревнований командам запрещается генерировать неоправданно большой объем трафика и проводить
                            DoS-атаки на жюри или других участников, не связанные с решением заданий. Командам также запрещается
                            использовать уязвимости сервера заданий с целью получения незаслуженных баллов. Команды-нарушители могут
                            быть оштрафованы или дисквалифицированы по решению Жюри.
                        </li>
                        <li class="list-group-item text-white">
                            Организаторы соревнований прикладывают все усилия для того, чтобы игра была качественной и интересной. Тем
                            не менее, во время игры могут возникнуть исключительные ситуации. Мы просим команды с пониманием относиться
                            к такой возможности и к решениям, которые будут приняты организаторами в этих ситуациях.
                        </li>
                        <li class="list-group-item text-white">
                            К соревнованию QCTF Starter допускаются только участники, не принимавшие раньше участия в
                            соревнованиях <a class="wk_ext_link" href="http://ructf.org" target="_blank">RuCTF</a> (или его
                            организации), либо принимавшие участие ровно один раз.
                        </li>
                    </ul>
                    </div>
                  </div>
                </div> <!-- /Div Hell -->
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

    <script src="{% static 'qctf/js/ui.js' %}"></script>
    <script src="{% static 'qctf/js/jquery.corner.js' %}"></script>
    <!-- Optional JavaScript -->

    <!-- Corners -->
    <script type="text/javascript">
      $('.corner').corner("20px tr bevel");
      $('.btn-corner').corner("15px br bevel");
    </script>

    
    <!-- Feather Icons -->
    <script>
      feather.replace()

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          }
      });
    </script>

  </body>
</html>
